* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --very-dark-grayish-blue: hsl(317, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    font-size: 1.3rem;
    font-family: 'Manrope', sans-serif;
}

#app {
}

.card-author {
    display: flex;
    gap: 2.4rem;
}

.authors-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.authors-info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.btn-share {
    border: none;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}